<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Animal Crossing Collector{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {% block css %}{% endblock %}
</head>

<body>

  {% include 'components/navbar.html' %}

  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  {% include 'components/footer.html' %}

  {% block js %}{% endblock %}
</body>

</html>